@import 'tailwindcss';
@source inline("{bg,border}-palette-{0..16}{,-inherited}");

@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-table-muted: var(--table-muted);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --shadow-lg-dark: 0 10px 15px -3px rgba(255, 255, 255, 0.01), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-2xl-dark-1: 0 25px 50px -12px rgb(255 255 255 / 0.1);
  --shadow-2xl-dark: 0 0 0 4px var(--color-dark-base), 0 0 0 6.5px var(--color-palette-7);
  --color-hover: var(--hover);

  --resource-title-height: 46px;
  --env-badge-size: 20px;
  --issue-badge-size: 26px;

  --color-palette-0: hsl(185, 39%, 71%);
  --color-palette-1: hsl(207.5, 39%, 71%);
  --color-palette-2: hsl(230, 39%, 71%);
  --color-palette-3: hsl(252.5, 39%, 71%);
  --color-palette-4: hsl(275, 39%, 71%);
  --color-palette-5: hsl(297.5, 39%, 71%);
  --color-palette-6: hsl(320, 39%, 71%);
  --color-palette-7: hsl(342.5, 39%, 71%);
  --color-palette-8: hsl(5, 39%, 71%); /* Same as primary theme color */
  --color-palette-9: hsl(27.5, 39%, 71%);
  --color-palette-10: hsl(50, 39%, 71%);
  --color-palette-11: hsl(72.5, 39%, 71%);
  --color-palette-12: hsl(95, 39%, 71%);
  --color-palette-13: hsl(117.5, 39%, 71%);
  --color-palette-14: hsl(140, 39%, 71%);
  --color-palette-15: hsl(162.5, 39%, 71%);

  --color-palette-0-inherited: hsl(185, 39%, 86%);
  --color-palette-1-inherited: hsl(207.5, 39%, 86%);
  --color-palette-2-inherited: hsl(230, 39%, 86%);
  --color-palette-3-inherited: hsl(252.5, 39%, 86%);
  --color-palette-4-inherited: hsl(275, 39%, 86%);
  --color-palette-5-inherited: hsl(297.5, 39%, 86%);
  --color-palette-6-inherited: hsl(320, 39%, 86%);
  --color-palette-7-inherited: hsl(342.5, 39%, 86%);
  --color-palette-8-inherited: hsl(5, 39%, 86%);
  --color-palette-9-inherited: hsl(27.5, 39%, 86%);
  --color-palette-10-inherited: hsl(50, 39%, 86%);
  --color-palette-11-inherited: hsl(72.5, 39%, 86%);
  --color-palette-12-inherited: hsl(95, 39%, 86%);
  --color-palette-13-inherited: hsl(117.5, 39%, 86%);
  --color-palette-14-inherited: hsl(140, 39%, 86%);
  --color-palette-15-inherited: hsl(162.5, 39%, 86%);

  --color-query-graph-bg: var(--color-dark-base);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-neutral-200, currentcolor);
  }
}

@layer base {
  :root {
    --sidebar-background: var(--color-neutral-50);
    --sidebar-foreground: black;
    --sidebar-primary: black;
    --sidebar-primary-foreground: var(--color-neutral-50);
    --sidebar-accent: var(--color-neutral-100);
    --sidebar-accent-foreground: black;
    --sidebar-border: var(--color-neutral-200);
    --sidebar-ring: #ee847b;

    --background: white;
    --foreground: black;
    --card: white;
    --card-foreground: white;
    --popover: white;
    --popover-foreground: black;
    --primary: #ee847b;
    --primary-foreground: white;
    --secondary: var(--color-neutral-100);
    --secondary-foreground: black;
    --muted: var(--color-neutral-100);
    --muted-foreground: var(--color-neutral-500);
    --table-muted: var(--color-neutral-600);
    --accent: var(--color-neutral-100);
    --accent-foreground: black;
    --destructive: hsl(0 100% 30%);
    --destructive-foreground: white;
    --border: var(--color-neutral-200);
    --input: var(--color-neutral-200);
    --ring: #ee847b;
    --radius: 0.5rem;
    --hover: #ee847b;

    --node-title-text: var(--primary);
  }
  .dark {
    --base: rgba(33, 33, 33, 1);

    --sidebar-background: var(--color-dark-base);
    --sidebar-foreground: white;
    --sidebar-primary: white;
    --sidebar-accent: var(--color-neutral-800);
    --sidebar-accent-foreground: white;
    --sidebar-border: var(--color-neutral-800);
    --sidebar-ring: #ee847b;

    --background: var(--base);
    --foreground: white;
    --card: var(--base);
    --card-foreground: var(--base);
    --popover: var(--base);
    --popover-foreground: white;
    --primary: #ee847b;
    --primary-foreground: var(--base);
    --secondary: var(--color-neutral-900);
    --secondary-foreground: white;
    --muted: oklch(0.4 0 0);
    --muted-foreground: var(--color-neutral-400);
    --table-muted: #dddddd;
    --accent: var(--color-neutral-900);
    --accent-foreground: white;
    --destructive: hsl(0 100% 30%);
    --destructive-foreground: black;
    --border: var(--color-neutral-800);
    --input: var(--color-neutral-800);
    --ring: #ee847b;
    --radius: 0.5rem;
    --hover: var(--color-palette-7);

    --node-title-text: var(--color-foreground);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  :focus-visible {
    @apply outline-primary;
  }
  body {
    @apply bg-background text-foreground;
  }
  p a,
  span a {
    @apply text-primary hover:underline;
  }
  p {
    @apply [&:not(:first-child)]:mt-4;
    @apply [&:not(:last-child)]:mb-4;
  }
  button {
    @apply cursor-pointer;
  }

  #posthog-survey-container {
    & button {
      @apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive bg-primary text-primary-foreground hover:bg-primary/90 h-9 px-4 py-2 has-[>svg]:px-3;
    }

    & .question-header {
      & label {
        @apply font-semibold;
      }

      & p {
        @apply text-sm text-muted-foreground;
      }
    }

    & textarea {
      /* Copied from shadcn's component style */
      @apply border-input placeholder:text-muted-foreground focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive dark:bg-input/30 flex field-sizing-content min-h-16 w-full rounded-md border bg-transparent px-3 py-2 text-base shadow-xs transition-[color,box-shadow] outline-none focus-visible:ring-[3px] disabled:cursor-not-allowed disabled:opacity-50 md:text-sm;
    }

    & .question-header {
      @apply my-4;
    }

    & .bottom-section {
      @apply mt-4 flex justify-end;
    }

    & .footer-branding {
      @apply hidden;
    }
  }
}
